{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}"/>

    <title>Status</title>
  </head>
  <body class="bg">
    <div class="container montserrat_font" style="margin-top: 50px;">
        <h1 class="title_white">Halo, apa kabar?</h1>
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin: 40px 0px">
                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                        {{ form }}
                        <br>
                    <div class="pull-right">
                        <button id="submit_button" type="submit" class="btn btn-info float-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <h1 class="title_white">All Status</h1>
        <div class="table-responsive">
          <table id='schedules' class="table table-striped table-light" style="margin-top: 40px">
            <thead>
              <tr>
                  <th scope="col">Message</th>
                  <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              {% if lists %}
                {% for statuses in lists %}
                <tr>
                  <th scope="row">{{ statuses.message }}</th>
                  <td>{{ statuses.time }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <td colspan="2">No status</td>
              {% endif %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>